:root {

    --heading-color: rgb(64, 64, 212);
    
    --subheading-color: white;
    
    --regular-text-color: lightblue;

    

}

* {

    margin: 0;
    
    padding: 0;

    box-sizing: border-box;


}

body {

    font-family: 'Courier New', Courier, monospace;

}

/* header and navigation elements start */

header {

    color: var(--heading-color);

    background-color:black;

    display: flex;

    justify-content: space-between;

    position: -webkit-sticky;

    position: sticky;

    background-image: url(../assets/images/cherry\ darling.jpg);

    background-size: cover;

    background-attachment: fixed;


    

}

header h1 {

    font-size: 50px;

    margin: 15px;

    text-shadow: 0 0 5px rgba(0,0,0, 0.5);

}

header nav {

margin: 5px;    



}

header nav ul {

    display: flex;

    flex-wrap: flex;

    font-size: 1.0vw;

    list-style: none;

    justify-content: space-between;

}



header nav ul li a {

    list-style-type: none;

    padding: 10px;

    margin: 15px;

    text-shadow: 0 0 5px rgba(0,0,0, 0.5);    

    border-bottom: 5px solid white;
    
}

header nav ul li a:link{

    color: var(--subheading-color);

    text-decoration: none;

}


header nav ul li a:visted{

    color: var(--subheading-color);

    text-decoration: none;

}
header nav ul li a:hover {

    background-color: var(--heading-color);

    color: var(--subheading-color);

    border-radius: 15px;

    text-decoration: none;

}

header nav ul li a:active{

    color: var(--subheading-color);

    text-decoration: none;

}

/* header and navigation elements end */

/*hero section start */

.hero{

    color: var(--subheading-color);

    background-image: url(../assets/images/cherry\ darling.jpg);

    display: flex;

    justify-content: center;

    flex-wrap: wrap;
    
    background-size: cover;


    align-items: flex-start;

    background-attachment: fixed;

    background-position: 100;

    height: 1000px;
}

/*hero secion end*/

/* information section that holds the three main parts*/

.information {

    padding: 50px;

    display: flex;

    flex-direction: column;

    flex-wrap: wrap;

    background-color: black;

    
    
    }

/*information section ends*/

/*infoPiece class id that applies changes to the About Me, Works, and Contact section divs */

.infoPiece {

    width: 80%;
    
    margin: 100px auto;

    display: flex;

    align-items: center;

    color: var(--heading-color);
   
}    


/*about me section start */

#about-me h2{
 margin-right: 150px;
    
}

/*about me section end */

/* work section start */

.work {

    display: flex;
}

#work h2{

    margin-right: 164px;

}

.run-buddy{
    color: var(--regular-text-color);
    
    display:flex;




}

.run-buddy img{

    max-height: 500px;
    
    max-width:500px;
    
    border: 5px solid white;
}

.run-buddy p{

    position: relative;
    right:150px;
    top: 10px;

}

.horiseon img {

    max-height: 300px;

    max-width: 300px;

    border: 5px solid white;
}

.horiseon p {

    position: relative;

    bottom: 205px;

    left:150px;
    
    color: var(--regular-text-color);

}

/* work section end */


/*bio section start*/
.bio{

    color: var(--regular-text-color);

}

/*bio section end*/

/*contact section start*/

#contact-me h2 {

    margin-right: 73px;

}


/*contact section end */


